#hero{
    padding: 0;
    margin: 0;
    max-width: 100%;
    min-width: 375px;
    height: 500px;
}

#servicios{
    padding: 0;
    margin: 0;
    max-width: 100%;
    min-width: 375px;
    height: 100%;
}

#informacion{
    padding: 0;
    margin: 0;
    max-width: 100%;
    min-width: 375px;
    height: 100%;
}

#portada{
    padding: 0;
    margin: 0;
    max-width: 100%;
    min-width: 375px;
    height: 500px;
}

#title{
    padding: 0;
    margin: 0;
    max-width: 100%;
    min-width: 375px;
    height: 100%;
}

#integrantes{
    padding: 0;
    margin: 0;
    max-width: 100%;
    min-width: 375px;
    height: 100%;
}

#contacto{
    padding: 0;
    margin: 0;
    max-width: 100%;
    min-width: 375px;
    height: 100px;
}