#sec_5{
    background-color: $azul;
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $blanco;
    text-align: center;
}